body {
  font-family: "Noto Sans", sans-serif;
}

.bottom-nav {
  width: 65%;
  margin: 0 auto;
  margin-bottom: 4px;
  border-radius: 120px;
  padding: 0 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;

  flex-direction: row;
  /* width: 100%; */
  /* height: 100%; */
}

ion-header,
ion-title {
  font-family: "Oranienbaum", serif;
  font-size: 32px;
}

.orange-button {
  font-family: "Oranienbaum", serif;
  font-size: 16px;
  color: white;
}

.native-input.sc-ion-input-ios {
  font-family: "Noto Sans", sans-serif;
}

.button-small {
  font-family: "Noto Sans", sans-serif;
}

ion-button {
  --border-radius: 0px;
}

.label-stacked.sc-ion-label-ios-h,
.label-floating.sc-ion-label-ios-h {
  --ion-font-family: "Noto Sans", sans-serif;
}

.item.sc-ion-label-ios-h,
.item .sc-ion-label-ios-h {
  --ion-font-family: "Noto Sans", sans-serif;
}

a {
  color: white;
}

p {
  font-family: "Noto Sans", sans-serif;
}
