/* COLLECTIONS */
/* ion-title {
  padding-left: 0 !important;
} */
.page-title {
  margin-bottom: 16px;
}

.add-btn {
  --border-radius: 50% !important;
  margin-right: 16px;
}

.collections ion-header::after {
  display: none !important;
}

.collections-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 12px;
  row-gap: 16px;
  margin: 16px 20px;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.collections-grid a {
  color: white;
}

.collection-img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-bottom: 8px;
}

/* .collections-grid ion-label {
  margin-top: 12px !important;
} */

.collections a {
  text-decoration: none;
  /* color: white !important; */
}

#ion-react-wrapper {
  padding: 20px !important;
}

#ion-react-wrapper ion-title {
  font-size: 20px;
}

.modal-btn {
  margin-top: 12px !important;
}

/* COLLECTION */
.collection-img-container {
  position: relative;
}

.delete-artpiece {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1000;
  padding: 8px;
}

.artpiece-back {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

a {
  text-decoration: none !important;
  color: white !important;
}
