.daily-img-wrapper {
  height: 100%;
  position: relative;
}
.daily-img {
  height: 100%;
  object-fit: cover;
}
.daily-overlay {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 36px;
}
.daily-overlay h4 {
  margin: 8px 0;
  font-size: 32px;
}
.daily-overlay h4 {
  margin: 8px 0;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
}
.daily-overlay span {
  font-size: 14px;
}
.daily-labels-wrapper {
  width: 100%;
  background-color: transparent;
  position: relative;
  z-index: 2;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.daily-labels-wrapper .label {
  padding: 10px 16px;
  margin: 0 6px;
  font-size: 14px;
  border-radius: 32px;
  background-color: var(--ion-color-custom-dark);
}
.daily-labels-wrapper .icon {
  background-color: var(--ion-color-custom-dark);
  margin: 0 6px;
  border-radius: 100%;
  padding: 8px;
  transition: all 0.3s ease;
}
.daily-labels-wrapper .icon .icon-self {
  width: 20px;
  height: 20px;
}
.daily-page-content {
  padding: 0 24px;
}
.daily-page-content .art-bio p {
  line-height: 130%;
}
.details {
  text-align: center;
  border-bottom: 1px solid #565656;
}

.details h5 {
  font-size: 12px;
  margin-top: 24px;

  margin-bottom: 0;
  color: #f4f4f4;
  font-weight: 300;
}
.details p {
  font-size: 16px;
  margin-bottom: 16px;
  margin-top: 6px;
  color: #f4f4f4;
}
.like.active {
  background-color: #cf3540;
}
