.preferences-form {
  background-color: var(--ion-color-custom-dark);
}
.preferences-card {
  margin: 0;
  position: absolute;
  bottom: 0;
  z-index: 102;
  width: 100%;
  padding: 40px 24px;
}

.preferences-item {
  --padding-start: 0px;
  --inner-padding-start: 0px;
}
.preferences-header {
  font-size: 32px;
  text-align: center;
  padding-bottom: 24px;
}

.preferences-button {
  color: #ffffff;
}

.preferences-button .button-native {
  padding: 10px 40px;
}

.preferences-form .ion-padding {
  width: 150px;
  align-self: center;
  margin: 0 auto;
  padding: 0;
  margin-top: 40px;
}
.preferences-wrapper {
  padding: 0 32px;
  padding-top: 16px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 32px;
}
.preference-box h4 {
  text-align: center;
  margin: 0;
  margin-top: 8px;
}
.preference-card {
  padding: 0 12px;
  background-color: var(--ion-color-custom-black);
  height: 140px;
}
.preference-card .card-image {
  position: relative;
  bottom: 12px;
  height: 100%;
  filter: grayscale(80%);
  transition: all 0.3s ease;
}
.preference-card .card-image.activated {
  filter: grayscale(0);
}
