.profile-page {
    background-color: #1d1d1d;
}

.page-title {
    margin-bottom: 40px;
}

.profile-card {
    box-shadow: none;
}

.profile-form {
    margin-bottom: 24px;
    /* background-color: var(--ion-color-custom-dark); */
}

.input {
    --padding-start: 0px;
    --inner-padding-start: 0px;
    padding-bottom: 16px;
  }

.header {
    font-size: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
}

.preferences-profile {
    padding-bottom: 16px;
}