.profile-page {
    background-color: #1d1d1d;
}

.page-title {
    margin-bottom: 16px;
}

.profile-card {
    box-shadow: none;
}

.input {
    --padding-start: 0px;
    --inner-padding-start: 0px;
    padding-bottom: 16px;
  }

.header {
    font-size: 24px;
    padding: 24px 0 16px 16px;
}

.preferences-profile {
    padding-bottom: 16px;
}

.profile-form .ion-padding {
    width: 150px;
    align-self: center;
    margin: 0 auto;
    padding: 0;
    margin-top: 40px;
  }

  .logout-button {
      margin-top: 40px;
      color: white;
      background-color: none;
  }